<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="container">
    <h1>csp, baby</h1>
    <img src="/assets/skele.jpg" class="skeletor" />
    <div class="formWrapper">
      <input
        type="text"
        name="input"
        placeholder="hack me (⊃｡•́‿•̀｡)⊃━✿✿✿✿✿✿	"
      />
      <input type="submit" value="Submit" onclick="test()">
    </div>
  </div>
</body>
</html>